body {
    background-color: #DFDED8;
    color: #291F1D;
}

header, footer {
    height: 10%;
    width: 100%;
}

/* Navigation */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ttlogo {
    width: 5%;
    height: 50%;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline;
}

/* Body Content */

main {

    width: 100%;
    /* Display */
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

main h2 {
    text-align: center;
}

#search_form {

    width: 50%;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#search_bar {
    width: 70%;
    padding-top: 2%;
}

#search_form button {
    padding-top: 2%;
}

section {
    width: 100%;
    display: flex;
}

/* Top Data */

#bird_main_info {
    display: flex;
    justify-content: space-around;
}

#bird_main_info img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

/* Bird Information Main Article */

#bird_info_article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#info_snippet {
    width: 60%;
}

#bird_info_article img {
    width: 10%;
    height: 30%;
    border-radius: 19px;
    align-self: center;
}

#bird_info_article h2 {
    align-self: center;
}

/* Bird Habitat Section */

/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social_media_icons {
    width: 20%;
}

#social_media_icons img {
    width: 15%;
    height: 30%;
    margin-right: 3%;
}

#social_media_icons img:first-of-type {
    margin-left: 20%;
}