

/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social_media_icons {
    width: 20%;
}

#social_media_icons img {
    width: 16%;
    height: 16%;
    margin-right: 3%;
}

#social_media_icons img:first-of-type {
    margin-left: 20%;
}