body {
    background-color: #DFDED8;
    color: #291F1D;
}

header, footer {
    height: 10%;
    width: 100%;
}

/* Navigation */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ttlogo {
    width: 4%;
    height: 4%;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline;
}

/* Body Content */

main {

    width: 100%;
    /* Display */
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

#search_form {

    width: 50%;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#search_bar {
    width: 70%;
    padding-top: 2%;
}

#search_form button {
    padding-top: 2%;
    width: 10%;
}



/* Address Information */

#physical_location_info {
    margin-bottom: 5%;
 
}

#physical_location_info img {
    width: 15%;
    height: 15%;
    margin-left: 20%;
    border-radius: 10px;
}

#physical_location_info h2 {
    text-align: center;
}

address {
    white-space: pre;
    text-align: center;
    float: right;
    margin-right: 30%;
}

#physical_location_info p {
    display: inline;
    margin-top: 0;
    text-align: center;
    float: right;
    margin-right: 25%;
}

/* Contact Form */

#contact_us_area form {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin: auto;
}

#contact_us_area h2 {
    text-align: center;
}

#contact_us_area input, #contact_us_area select, #contact_us_area textarea {
    margin-bottom: 2%;
}

#contact_us_area label, #contact_us_area button, #contact_us_area a {
    width: 10%;
}

#contact_us_area button {
    width: 15%;
    height: 20%;
    display: block;
    margin-left: auto;
}


/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#social_media_icons {
    width: 20%;
}

#social_media_icons img {
    width: 16%;
    height: 16%;
    margin-right: 3%;
}

#social_media_icons img:first-of-type {
    margin-left: 20%;
}