body {
    background-color: #DFDED8;
    color: #291F1D;
    font-family: 'Merriweather', serif;
}

header, footer {
    width: 100%;
}

h2 {
    font-weight: 900;
}

/* Navigation */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.ttlogo {
    width: 4%;
    height: 4%;
}

nav ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: .5s;
}

nav li:hover {
    background-color: #828791;
}

#dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ADA89E;
  width: 160px;
  border-radius: 5px;
}

#dropdown a {
    display: block;
    padding: 5%;
    color: inherit;
    text-decoration: none;
}

#main_menu:hover #dropdown {
    display: block;
}

#dropdown a:hover {
    background-color: #856955;
}

/* Body Content */

main {

    width: 100%;
    /* Display */
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

#search_form {

    width: 50%;
    align-self: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

#search_bar {
    width: 70%;
    border: #291F1D;
    border-radius: 5px;
    line-height: 20px;
    font-family: inherit;
}

#search_form button {
    width: 10%;
    border: #291F1D;
    background-color: #856955;
    line-height: 20px;
    border-radius: 5px;
    font-family: inherit;
    text-align: center;
}

/* Hero Content */

#hero {
    display: flex;
    flex-flow: column nowrap;
}

#hero div {
    padding: 10px;
    margin-bottom: 2%;
}

#website_summary {
    display: flex;
    flex-flow: row nowrap;
}

#website_summary div{

    align-self: center;

}

#website_summary img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

#website_point {
    display: flex;
    flex-flow: row nowrap;
}

#website_point div{
    align-self: center;
    padding-left: 5%;
}

#website_point img {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

/* Current News */

#current_news {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

#current_news h2 {
    text-align: center;
}

.news_snippet {
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    margin-bottom: 3%;
}

.news_snippet p {
    display: inline;
}

.news_snippet img {
    height: 15%;
    width: 10%;
    border-radius: 10px;
}

.snippet_seperator {
    padding-left: 1%;
}

/* Updated Bird Pages */

#updated_pages {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#updated_pages h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

#updated_pages article {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#updated_pages img {
    width: 30%;
    height: 40%;
    border-radius: 10px;
}

/* Newsletter */

#newsletter {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-bottom: 5%;
}

#newsletter h2, #newsletter p {
    width: 100%;
    text-align: center;
}

#newsletter form {
    padding: 2%;
    width: 80%;
    align-self: center;
}

#newsletter form input {
    width: 60%;
    float: left;
    margin-bottom: 1%;
    padding-left: 1%;
    border: #291F1D;
    border-radius: 7px;
    line-height: 30px;
    font-family: inherit;
}

#newsletter form button {
    padding: 2%;
    margin-left: 5%;
    border: #291F1D;
    background-color: #856955;
    line-height: 30px;
    border-radius: 10px;
    font-family: inherit;
}

/* Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    font-weight: 900;
}

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition-property: font-size;
    transition-duration: 1s;
}

footer a:hover {
    font-size: large;
}

footer a:visited {
    color: #828791;
}

#social_media_icons {
    width: 20%;
    height: 100%;
}

#social_media_icons img {
    width: 18%;
    height: 18%;
    margin-right: 3%;
}

#social_media_icons img:first-of-type {
    margin-left: 20%;
}